
@model List<Cliente>

<h2>Gerenciamento de Clientes</h2>

@if (TempData["AlertMessage"] != null)
{
<div class="alert alert-dismissible alert-danger col-lg-6" style="float:right;">
    Você possui uma reserva, faça a devolução para poder cancelar sua conta!
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
}
<div class="table-responsive" style="margin-top:5px;">
    <table class="table table-hover table-striped">
        <thead>
            <tr class="table-primary">
                <th>Nome</th>
                <th>Cpf</th>
                <th>Rg</th>
                <th>Senha</th>
                <th>Cnh</th>
                <th>Categoria Cnh</th>
                <th>Status</th>
                <th>Possui Reserva</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Cpf</td>
                    <td>@item.Rg</td>
                    <td>@item.Senha</td>
                    <td>@item.Cnh</td>
                    <td>@item.CategoriaCnh</td>
                    <td>@item.Status</td>
                    <td>@item.PossuiReserva</td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="ClientCancel" asp-route-id="@item.IdCliente" data-toggle="tooltip" data-placement="top" title="Deletar">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="ClientEdit" asp-route-id="@item.IdCliente" data-toggle="tooltip" data-placement="top" title="Alterar">
                            <i class="far fa-edit"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>

