@model List<Moto>

<h2> Motos </h2>

<table class="table table-hover table-striped">
    <thead>
        <tr class="table-primary">
            <th>Nome</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Ano</th>
            <th>Placa</th>
            <th>ValorPorDia</th>
            <th>ValorPorHora</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Moto item in Model)
        {
            <tr>
                <td>@item.Modelo</td>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Cor</td>
                <td>@item.AnoModelo</td>
                <td>@item.Placa</td>
                <td>@item.ValorPorDia</td>
                <td>@item.ValorPorHora</td>
                <td>@item.Status</td>

            </tr>
        }
    </tbody>

</table>


