@model List<Moto>

<h2>Gerenciamento de Motos</h2>
<form asp-action="BuscarMotoPlaca" method="post">
    <a asp-controller="Moto" class="btn btn-outline-success col-md-2" asp-action="Cadastrar">Cadastrar</a>
    <div style="float:right">
        <div class="form-group">
            <div class="form-inline">
                <input class="form-control col-md-7" type="text" placeholder="Pesquisar pela placa" name="placa" />
                <button class="btn btn-outline-info col-md-4" style="margin-left:10px;" asp-controller="Moto" asp-action="BuscarMotoPlaca">Buscar</button>
            </div>
        </div>
    </div>
</form>
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-primary">
            <th>Nome</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Ano</th>
            <th>Placa</th>
            <th>ValorPorDia</th>
            <th>ValorPorHora</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Moto item in Model)
        {
            <tr>
                <td>@item.Modelo</td>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Cor</td>
                <td>@item.AnoModelo</td>
                <td>@item.Placa</td>
                <td>@item.ValorPorDia</td>
                <td>@item.ValorPorHora</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-outline-danger" asp-controller="Moto" asp-action="RemoverMoto" asp-route-id="@item.IdVeiculo">Remover</a>
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-controller="Moto" asp-action="EditarMoto" asp-route-id="@item.IdVeiculo">Alterar</a>

                </td>
            </tr>
        }
    </tbody>

</table>

