@model Moto
<a asp-action="Index" asp-controller="CatalogoMoto">Volta para o catalago</a>
<table>

    <tr>
        <td>
            <img src="~/locadoraimagens/@Model.Imagem" class="rounded" style="width:400px;height:300px" />
        </td>
        <td style="vertical-align:top;padding-left:10px">
            <b>Marca:</b>
            <p>@Model.Marca</p>
            <b>Modelo:</b>
            <p>@Model.Modelo</p>
            <b>Ano:</b>
            <p>@Model.AnoModelo</p>
            <b>Placa:</b>
            <p>@Model.Placa</p>
            <b>Preço do Veiculo:</b>
            <p>@Model.Valor</p>
            <b>Valor por hora:</b>
            <p>@Model.ValorPorHora.ToString("C2")</p><br />
            <b>Valor por dia:</b>
            <p>@Model.ValorPorDia.ToString("C2")</p>
            <b>Valor Mensal: </b>
            <p>@Model.ValorMensal.ToString("C2")</p>
            <a asp-action="AlugarMoto" asp-controller="Clientes" class="btn btn-outline-info" asp-route-id="@Model.IdVeiculo">Alugar Hr/Dia</a>
            <a asp-action="AluguelMensal" asp-controller="AlugarMotoMensal" style="margin-left:10px;" class="btn btn-outline-info" asp-route-id="@Model.IdVeiculo">Alugar Mensal</a>
        </td>
    </tr>
</table>

